<h1>Kittens#edit</h1>
<%= render 'error_messages' %>
<%= render partial: 'form', locals: {kitten: @kitten} %><br>
<%= button_to 'Delete kitten', kitten_path(@kitten), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>